@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: black;
    --secondaryTextColor: grey;

    --borderColor: #baf1ef;
    --lineColor: #EEDEDC;

    --primaryBackgroundColor: #fff; 
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #55b8bb;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* Logo Navigasi */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: black;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav a {
    color: black;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}

/* Button Resume */

.btn {
    padding: 1rem 1.5rem;
    background: white;
    border-color: #aeecee;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Burger Mobile */

.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Nama, deskripsi, dan gambar */

.pre-title {
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    position: relative;
}

.hero-name span {
    color: var(--primaryIconColor);
}

.hero-right {
    display: flex;
    justify-content: center;
}
.hero-right img {
    width: 80%;
    position: relative;
    bottom: 40px;
}

/* Skill */
#skills {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.skills .pre-title {
    margin: 0 auto;
}

.skills-title {
    text-align: center;
}

/* Layouts */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
}

.skill {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.skill h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.skill-icon {
    background-color: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

#projects {
    padding: var(--sectionPadding);
}

.project {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.project-cover {
    height: 250px;
}

.project-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info {
    padding: 2rem 1.5rem;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.project h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.project-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.project-tags div {
    font-size: .9rem;
    border: 1px solid var(--borderColor);
    padding: .4rem 1rem;
    color: var(--secondaryTextColor);
}

#educate {
    padding: var(--sectionPadding);
    background: var(--secondaryBackgroundColor);
}

.educate-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: block;
    gap: 2rem;
}

.education-info p {
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

.educate-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

.educate-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--primaryIconColorHover);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #9d9faf;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryIconColorHover);
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}

footer {
    padding: 4rem 0;
    background: var(--secondaryBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 .5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons svg:hover {
    fill: black;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(186, 247, 242); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }